{
  "accounts": [
    {
      "name": "My Account",
      "secret_name": "my_account",
      "digits": 6,
      "step": 30,
      "colour": "#FF0000"
    },
    {
      "name": "Another Account",
      "secret_name": "another_account",
      "digits": 6,
      "step": 30,
      "colour": "#00FF00"
    }
  ],
  "my_account": "YOUR_BASE32_SECRET_HERE",
  "another_account": "YOUR_BASE32_SECRET_HERE"
}
